<!-- register form -->

<div class="container mx-auto flex justify-center items-center py-16">
    <div class="w-96">
        <h1 class="text-3xl font-semibold mb-6">Register</h1>
        <form [formGroup]="registerForm" (submit)="onSubmit()">
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700">First Name</label>
                <input formControlName="firstName" type="text" id="name" name="name" required
                    class="mt-1 focus:outline-none px-4 py-2 border border-gray-800 block w-full shadow-sm sm:text-sm rounded-md">
            </div>
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700">Last Name</label>
                <input formControlName="lastName" type="text" id="name" name="name" required
                    class="mt-1 focus:outline-none px-4 py-2 border border-gray-800 block w-full shadow-sm sm:text-sm rounded-md">
            </div>
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700">Username</label>
                <input formControlName="username" type="text" id="name" name="name" required
                    class="mt-1 focus:outline-none px-4 py-2 border border-gray-800 block w-full shadow-sm sm:text-sm rounded-md">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input formControlName="password" type="password" id="password" name="password" required
                    class="mt-1 focus:outline-none px-4 py-2 border border-gray-800 block w-full shadow-sm sm:text-sm rounded-md">
            </div>
            <div class="mb-4">
                <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" id="confirm_password" name="confirm_password"
                    required
                    class="mt-1 focus:outline-none px-4 py-2 border border-gray-800 block w-full shadow-sm sm:text-sm rounded-md">
            </div>
            <div class="mb-4">
                <button [disabled]="registerForm.invalid" [class.cursor-not-allowed]="registerForm.invalid"
                    type="submit" style="box-shadow: 2px 2px 0 0 #05aed5;border-radius: 4px;"
                    class="bg-gray-900 hover:bg-black text-white py-2 px-8 rounded">REGISTER</button>
            </div>

            <div>
                <p>Already have an account? <a routerLink="/login" class="text-blue-500 cursor-pointer">Login</a></p>
            </div>
        </form>
    </div>
</div>