<nav class="bg-amber-800 py-4 text-white sticky top-0">
    <div class="container mx-auto px-6 flex items-center justify-between">
        <a routerLink="/" class="text-xl font-semibold">Tech.Insights.</a>
        <div class="flex gap-5">
            <button class="">
                <a routerLink="/">
                    <img src="assets/home.svg" alt="home" class="w-6 h-6">
                </a>
            </button>
            <button class="">
                <a routerLink="/post">
                    <img src="assets/add.svg" alt="add" class="w-6 h-6">
                </a>
            </button>
            <button class="">
                <a routerLink="/login">
                    <img src="assets/user.svg" alt="user" class="w-6 h-6">
                </a>
            </button>
        </div>
    </div>
</nav>