<main class="container mx-auto py-12 px-6 bg-amber-100 h-screen">

    <h1 class="text-3xl mb-6 text-amber-700 font-semibold">
        Explore
    </h1>
    <!-- News Article Card -->
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2">
        <!-- loop through latestNews array-->

        @for (newsItem of latestNews; track $index) {
        <div class="flex flex-col gap-2 bg-white">
            <div class="h-48">
                <img src="{{ 'https://picsum.photos' }}/{{ (100 * ($index + 2)) }}/{{ (100 * ($index + 2)) }}"
                    alt="{{ newsItem.title }}" class="w-full h-full object-cover">
            </div>
            <div class="mt-3 flex flex-col gap-2 p-3">
                <p class="text-gray-600 leading-3">🕜{{ newsItem.date }}</p>
                <h2 class="text-2xl font-bold">{{ newsItem.title }}</h2>
                <p class="text-gray-600">
                    <span>
                        {{ newsItem.content.slice(0,302) }}...
                    </span>
                    <a routerLink="/news/{{ newsItem.id }}" class="text-blue-500">Read More</a>
                </p>
            </div>
        </div>
        }

    </div>

    <!-- Pagination -->

    <div class="flex justify-center gap-4 mt-8">
        <button (click)="prevPage()" class="bg-gray-800 text-white px-4 py-2 rounded-lg" [disabled]="currentPage === 1"
            [class.opacity-20]="currentPage === 1">
            Previous
        </button>

        <div class="flex gap-2">
            @for (i of pages; track $index){
            <button (click)="changePage(i)" class="px-4 py-2 rounded-lg" [class.border]="currentPage === i"
                [class.border-gray-800]="currentPage === i" [class.bg-gray-800]="currentPage !== i"
                [class.text-white]="currentPage !== i">
                {{ i }}
            </button>
            }
        </div>

        <button (click)="nextPage()" class="bg-gray-800 text-white px-4 py-2 rounded-lg"
            [disabled]="currentPage === totalPages" [class.opacity-20]="currentPage === totalPages">
            Next
        </button>
    </div>

</main>