<!-- login form -->

<div class="container mx-auto flex justify-center items-center py-20">
    <div class="max-w-96 w-full mx-12">
        <h1 class="text-3xl font-semibold mb-6">Login</h1>
        <form [formGroup]="loginForm" (submit)="onSubmit()" novalidate>
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input formControlName="username" type="text" id="username" name="username" required
                    class="mt-1 focus:outline-none px-4 py-2 border border-gray-800 block w-full shadow-sm sm:text-sm rounded-md">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input formControlName="password" type="password" id="password" name="password" required
                    class="mt-1 focus:outline-none px-4 py-2 border border-gray-800 block w-full shadow-sm sm:text-sm rounded-md">
            </div>

            <p class="my-4 text-red-600 font-semibold">
                {{error}}
            </p>

            <div class="mb-4">
                <button [disabled]="loginForm.invalid" [class.cursor-not-allowed]="loginForm.invalid" type="submit"
                    style="box-shadow: 2px 2px 0 0 #05aed5;border-radius: 4px;"
                    class="bg-gray-900 hover:bg-black text-white py-2 px-8 rounded">LOGIN</button>
            </div>
        </form>
    </div>
</div>